.online{
    background-color: #0FA;
}

.busy{
    background-color: #FB0;
}

.offline{
    background-color: #888;
}

.status{
    border: 1px solid black;
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    margin-left: 10px;
}

.userName{
    display: inline-block;
}
