#list {
  overflow-x: hidden;
  max-height: calc(100vh - 64px - 69px); // 64 px is toolbar, 69px is chat footer
}
#button__wrapper {
  margin-top:10px;
}
.userName {
  overflow-x: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  height: 20px;
}

.selected {
  background-color: #555555;
}
