.chat__body {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.chat__content {
  flex-grow: 1;
  background-color: #fafafa;
}
.chat__users {
  margin: 0;
  padding: 0;
}

.chat__footer {
  padding: 1em;
  display: flex;
  background-color: #255acc;
}
.sent {
  align-self: flex-end;
  background-color: #effcfb;
}

.received {
  align-self: flex-start;
  background-color: #FFFFFF;
}

.chat__header{
  padding: 1em;
  display: absolute;
  background-color: #e1effa;
}
.chat__sidebar {
  min-width: 10em;
  width: 25%;
  background-color: #e1effa;
}

.chat__messages {
  margin: 0;
  padding: 0;
}
.chat1 {
    overflow: hidden;
    font-size: 14px;
    height: 100%;
    min-height: 20em;
    display: flex;
    flex-direction: column;
}

.chatButton:hover{
    background-color: #444;
}

.message{
    background: #ECFAFF;
  }
.chatInput:focus{
    background-color: #E4F1FE;
    color: #222;
    transition: 0.2s ease-in;
}

.timestamp {
  color: #555;
  font-style: italic;
}

.chatInput{
  flex: 10;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
  color: #000;
  transition: 0.1s ease-out;
  padding-left: 80px;
}
.emoji{
  background-color: #e1effa;
  margin-left: 1%;
  padding-left: 10px;
}
.chatButton{
  flex: 1;
  padding: 8px 24px;
  font-size: 1.3em;
  font-family: 'Droid Sans', sans-serif;
  background-color: #e1effa;
  color: black;
  transition: 0.2s ease-out;
  min-width: 50px;
  margin-left: 10%;
}
