<section class="chat1">
  <div class="chat__body">
    <div class="chat__content">
      <div class="chat__header">
        <span *ngFor="let user of group.fullUsers">{{user.name}}; </span>
        <button mat-raised-button color="accent" (click)="addMember()">Ajouter membre</button>
      </div>
      <mat-nav-list class="chat__messages">
        <mat-list-item *ngFor="let message of chatMessages" [ngClass]="userId === message.senderId ? 'sent' : 'received'">
          <div fxLayout="column" class="message">
            <div fxLayout>
              <span *ngIf="userId !== message.senderId">
                {{ getSenderName(message.senderId) }}
              </span>
              <span class="timestamp" >
                {{ message.datetimeSent | date:'medium' }}
              </span>
            </div>
            <span>
              {{ message.message}}
            </span>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
  <div class="chat__footer">
    <input class="chatInput"  placeholder="Saisissez un message"  [(ngModel)]='messageToSend.message'/>
    <button class="emoji" (click) ="toggleEmojiPicker()"> 😀</button><br>
    <emoji-mart class="emoji-mart"
      style="position: absolute;  bottom: 20px; right: 30px;" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)" title="Pick your emoji…">
    </emoji-mart>
    <button class="chatButton" (click)="send()">Envoyer</button>
  </div>
</section>
