<mat-card id="card">
  <form (ngSubmit)="onSubmit()" fxLayout="column">
    <mat-form-field appearance="standard">
      <mat-label>Titre</mat-label>
      <input matInput [(ngModel)]="ticket.title" name="title">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Votre demande</mat-label>
      <textarea matInput [(ngModel)]="ticket.demand" name="demand" rows="10"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" id="submitBtn" fxFlexAlign="center">Créer le ticket</button>
  </form>
</mat-card>
